<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div class="container">
        <div v-if="score>90">优秀成绩</div>
        <div v-else-if="score<=90&&score>80">良好成绩</div>
        <div v-else="score<=80">不咋好成绩</div>
        <ul>
            <li v-for="item in colors">{{item}}</li>
        </ul>
        <ul>
            <li v-for="(item,index) in colors">{{item + '===' + index}}</li>
        </ul>
    </div>
    <script>
        let vue = new Vue({
            el: '.container',
            data: {
                score: 91,
                colors: ['blue','pink','white'],
            }
        })
    </script>
</body>
</html>